.my-nav{
    background-color: black;
}
.pic img{
    height: 90vh;
}
/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
    .pic img{
        height: 45vh;
    }
  }
.text-justify{
    text-align: justify;
}